<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MOIJV - {% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('list_product') }}">Tous les produits</a></li>
                    <li><a href="{{ path('list_user') }}">Les utilisateurs</a></li>
                    {% if is_granted('ROLE_USER') %} {# vérif des permissions de l'utilisateurs #}
                        <li><a href="{{ path('my_product') }}">Mes produits</a></li>
                        <li><a href="{{ path('add_product') }}">Ajouter un produit</a></li>
                    {% endif %}
                </ul>
            </nav> 
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
